<div class="pb-2 mb-3 border-bottom">
    <h1 class="h2">New Question</h1>
</div>
<%= form_with(model: [:admin, @question]) do |form| %>
<div class="form-group">
    <label for="question_name">Question</label>
    <%= form.text_field (:question_name), class: "form-control", id: "question_name", placeholder: "Question name" %>
</div>
<div class="form-group">
    <%= collection_select(:question, :course_id, Course.all, :id, :course_name, {prompt: "Select course"}, {class: "form-control course-select"}) %>
</div>
<%= field_set_tag 'Questions', class: "form-group" do %>
<span>Please fill out the answer & select which one is corrected.</span>
<%= form.fields_for :answers do |answer| %>
<div class="row pt-1 pb-1">
    <div class="col-auto">
        <div class="form-check">
            <%= answer.check_box :is_correct, class: "form-check-input"%>
        </div>
    </div>
    <div class="col-8">
        <%= answer.text_field :answer_content, class: "form-control" %>
    </div>
</div>
<% end %>
<% end %>
<%= link_to "Cancel", admin_questions_path, class: "btn btn-secondary btn-sm" %>
<%= form.submit class: "btn btn-primary btn-sm"%>
<% end %>
<%= javascript_pack_tag "checkbox" %>