<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand p-4" href="#">
    	<img src="/assets/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Courses', courses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', categories_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item p-1">
        <div class="input-group input-group-sm">
    		  <input type="text" class="form-control" placeholder="Whatchu want to learn?">
      		  <div class="input-group-append">
      		    <button class="btn btn-outline-secondary" type="button">Search</button>
      		  </div>
    		</div>
        </li>
        <li class="nav-item p-0">
          <% if current_user  %>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Enrolled Courses", '#', class: "dropdown-item" %>
          <%= link_to "Tests", '#', class: "dropdown-item" %>
          <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
          <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          <li class="nav-item p-0">
            <%= link_to "Register", new_user_registration_path, class: "nav-link", class: "nav-link" %>
          </li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>